// Fonts
$font-main: 'Raleway',
sans-serif;
$font-accent: 'Playfair Display',
serif;
$font-secondary: 'Roboto',
sans-serif;

// Colors
$dark: #242B33;
$accent: #D4C17F;
$white: #fff;
$footer-bg: #2D343C;
$placeholder: #BEBEBE;
$muted: #E7E7E7;

// Media
$tablet: 959px;

/* Reset and base styles  */
* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Raleway:wght@400;700&family=Roboto:wght@300&display=swap');

body {
    font-family: $font-main;
    background-color: $dark;
    color: $white;
    font-size: 16px;
}

a {
    color: $white;
    transition: color 0.2s ease-in;

    &:hover {
        color: $accent;
    }
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;

    &--sm {
        max-width: 900px;
    }
}

.text-right {
    text-align: right;
}

.visually-hidden {
    /* Contain text within 1px box */
    height: 1px;
    overflow: hidden;
    width: 1px;

    /* Keep the layout */
    position: absolute;

    /* Remove any visible trace (e.g. background color) */
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    /* browsers in the future */

    /* Prevent the screen reader to skip spaces between words */
    white-space: nowrap;
}

.none {
    display: none !important;
}

.title-2 {
    font-size: 36px;
    font-family: $font-accent;
    color: $accent;
    font-weight: 700;
}

.link-bold {
    color: $accent;
    font-weight: 700;
}

.no-scroll {
    overflow-y: hidden;
}


/* Links */
a,
a:link,
a:visited {
    /* color: inherit; */
    text-decoration: none;
    /* display: inline-block; */
}

a:hover {
    /* color: inherit; */
    text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-size: inherit;
    font-weight: inherit;
}

ul,
ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

address {
    font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
    display: none;
}

button,
input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
    outline: none;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

label {
    cursor: pointer;
}

legend {
    display: block;
}


/** header start **/
.header {
    min-height: 840px;
    background: linear-gradient(180deg,
            #242b33 11.98%,
            rgba(45, 52, 60, 0.38) 51.04%,
            #242b33 92.19%),
        url('./../images/header/header-bg.jpg');
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0;

    a.logo {
        font-size: 30px;
        text-transform: uppercase;
        font-family: $font-accent;
    }

    &__top-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav {
        font-size: 14px;

        &__list {
            display: flex;
            column-gap: 40px;
        }
    }

    &__title {
        text-align: center;
        font-size: 48px;
        font-family: $font-accent;
        color: $accent;
        text-transform: capitalize;
        letter-spacing: 1px;
        position: relative;
        padding-bottom: 40px;

        a {
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__bottom {
        display: flex;
        justify-content: center;
        gap: 60px;

        .info {
            font-size: 18px;
            position: relative;
            padding-left: 35px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 21px;
                height: 21px;
                background-image: url('../images/header/map.svg');
                background-repeat: no-repeat;
            }

            &--tel::before {
                background-image: url('../images/header/phone.svg');
            }
        }
    }
}

/** header end **/



/** benefits start **/
.visually-hidden {
    height: 1px;
    overflow: hidden;
    width: 1px;
    position: absolute;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    white-space: nowrap;
}

.benefits {
    padding: 100px 0 120px;

    &__row {
        display: flex;
        column-gap: 30px;
    }

    &__item {
        text-align: center;

        &-img {
            margin-bottom: 45px;
        }

        &-text {
            max-width: 280px;
            font-size: 20px;
            line-height: 1.35;
            font-family: $font-secondary;
            font-weight: 300;
        }
    }
}

/** benefits start **/



/** appartments start **/
.apartments {
    margin-bottom: 80px;

    &__title {
        margin-bottom: 80px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;

        .card {
            position: relative;
            display: inline-block;
            overflow: hidden;
            transition: all 0.4s ease;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: linear-gradient(180deg,
                        rgba(36, 43, 51, 0) 0%,
                        $dark 100%);
                z-index: 6;
            }

            &::after {
                opacity: 0;
                content: '';
                position: absolute;
                left: 50%;
                top: 50%;
                right: 50%;
                bottom: 50%;
                border: 3px double rgba(255, 255, 255, .4);
                transition: all 0.5s ease-in-out;
                z-index: 7;
            }

            &:hover::after {
                opacity: 1;
                left: 15px;
                top: 15px;
                right: 15px;
                bottom: 15px;
            }

            &:hover {
                color: $white;

                img {
                    position: relative;
                    z-index: 5;
                    transition: all 0.4s ease;
                    transform: scale(1.1);
                    filter: contrast(110%) brightness(1.2) saturate(1.2);
                }
            }

            &__title {
                position: absolute;
                left: 50px;
                right: 20px;
                bottom: 44px;
                font-size: 24px;
                z-index: 15;
            }
        }
    }
}

/** appartments end **/



/** cta start **/
.cta {
    padding: 240px 0;
    background: linear-gradient(180deg,
            $dark 10.42%,
            rgba(36, 43, 51, 0) 50.52%,
            $dark 90.1%),
        linear-gradient(0deg,
            rgba(36, 43, 51, 0.8),
            rgba(36, 43, 51, 0.8)),
        url('../images/cta/cta-bg.jpg'), #c4c4c4;

    &__title {
        margin-bottom: 17px;

        .title-2 {
            text-transform: capitalize;
        }
    }

    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    &__text {
        line-height: 1.5;
        text-align: justify;
    }

    .form {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;

        input,
        p,
        button {
            width: 250px;
        }

        &__input {
            height: 50px;
            padding: 12px;
            background-color: rgba(255, 255, 255, .2);
            color: $white;
            font-size: 14px;
            transition: background-color .3s ease;

            &::placeholder {
                color: $placeholder;
                text-transform: capitalize;
            }

            &:focus {
                background-color: rgba(255, 255, 255, .25);
            }
        }

        &__btn {
            height: 50px;
            padding: 12px;
            font-size: 16px;
            color: $white;
            font-weight: 700;
            text-align: center;
            background-color: $accent;
            transition: background-color .4s ease;

            &:hover {
                background-color: saturate($accent, 20%);
            }
        }

        &__privacy {
            font-size: 12px;
            text-align: right;
            color: $muted;
            line-height: 1.25;
        }
    }
}

/** cta end **/